[alias]
	stat = status -s
	ada = add -A
	comm = commit -m
	pusho = push origin
	cleanest = "!git checkout -- .; git clean -fd"
	stashed = stash pop
	pullo = pull origin
	pullsub = submodule update --recursive --remote
	clone = git clone --depth 1 --recursive
	ut = update-index --assume-unchanged
	t = update-index --no-assume-unchanged
	su = \
            !git branch \
                --set-upstream-to=origin/`git symbolic-ref --short HEAD`
[core]
	pager = less -F -X
[user]
	email = matthew.torres211@gmail.com
	name = Matthew Torres
